.user-block {
  padding-left: 30px;
  margin-left: 92px;
}

.user-block__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 91px;
  color: #1F1E25;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 22px;
    top: 34px;
    left: -30px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
  }
}
